@model IEnumerable<HotelManagerReponsity_MVC.Models.RoomOfStatusAndType>

@{
    ViewBag.Title = "DetailRoom";
}

<h2>DetailRoom</h2>
<div class="fs-dtbott">
    <!--Picture Product-->
    <div class="fs-dtslide col-lg-7">
        <div class="fs-dtsbox clearfix">           
            <div class="fs-dtstd2">
                <div class="easyzoom easyzoom--with-thumbnails easyzoom--adjacent is-ready">
                    <a class="p-picture" href="#" title="">
                        <img class="lazy" src="~/Assets/Scripts/upload/images/room_trong.jpg" 
                             data-original="//cdn.fptshop.com.vn/Uploads/Originals/2017/6/5/636322676788516871_111.jpg" alt="" style="display: inline;">
                    </a>
                </div>            
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="fs-dtinfo col-lg-5">
            <!--Price Product-->
            <p class="fs-dtprice">
                6.990.000 <strong>₫</strong>
            </p>
            <!--Status Product-->
            <div class="status-product">
            </div>
            <!--Cau hinh short-->
            <!--Cau hinh short-->
            <div class="fs-dtich clearfix" data-toggle="modal" data-target="#PopTSKT">
                <ul>
                    <li>
                        <label>Name:</label>
                        <span>@item.nameRoom</span>
                    </li>
                    <li>
                        <label>Room status:</label>
                        <span>@item.status</span>
                    </li>
                    <li>
                        <label>Room type:</label>
                        <span>@item.room_Type_Description</span>
                    </li>
                </ul>
            </div>
            <!--Countdown-->
            <input type="hidden" id="timeCountdown" value="0">
            <!--Button-->
            <div id="btn-order">
            </div>
            <ul class="fs-dtibtn clearfix build-order">
                <li>
                    <a class="fs-dti-oder detail-order-2017" href="@Url.Action("Add", "AddToCart",item)" title="">
                        <p>Add to cart</p>
                        <span>Giao tận nơi hoặc nhận ở shop</span>
                    </a>
                </li>
                <li>
                    <a class="fs-dti-tgop" href="@Url.Action("Index", "Home")" title="">
                        <p>Continue</p>
                        <span>Xét duyệt nhanh </span>
                    </a>
                </li>
            </ul>
            <p class="fs-dtinoti">Gọi <strong>1800-6601</strong> để được tư vấn (miễn phí cuộc gọi)</p>

        </div>
    }
    
    <!-- Button trigger modal -->
    <!-- Modal -->

</div>

