@model IEnumerable<HotelManagerReponsity_MVC.Models.RoomOfStatusAndType>

@{
    ViewBag.Title = "DetailRoom";
}

<h2>DetailRoom</h2>
<div class="fs-dtbott">
    <!--Picture Product-->
    <div class="fs-dtslide col-lg-7">
        <div class="fs-dtsbox clearfix">           
            <div class="fs-dtstd2">
                <div class="easyzoom easyzoom--with-thumbnails easyzoom--adjacent is-ready">
                    <a class="p-picture" href="#" title="">
                        <img class="lazy" src="~/Assets/Scripts/upload/images/room_trong.jpg" 
                             data-original="//cdn.fptshop.com.vn/Uploads/Originals/2017/6/5/636322676788516871_111.jpg" alt="" style="display: inline;">
                    </a>
                </div>            
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div class="fs-dtinfo col-lg-5">
            <!--Price Product-->
            <p class="fs-dtprice">
                6.990.000 <strong>₫</strong>
            </p>
            <!--Status Product-->
            <div class="status-product">
            </div>
            <!--Cau hinh short-->
            <!--Cau hinh short-->
            <div class="fs-dtich clearfix" data-toggle="modal" data-target="#PopTSKT">
                <ul>
                    <li>
                        <label>Name:</label>
                        <span>@item.nameRoom</span>
                    </li>
                    <li>
                        <label>Room status:</label>
                        <span>@item.status</span>
                    </li>
                    <li>
                        <label>Room type:</label>
                        <span>@item.room_Type_Description</span>
                    </li>
                </ul>
            </div>
            <!--Countdown-->
            <input type="hidden" id="timeCountdown" value="0">
            <!--Button-->
            <div id="btn-order">
            </div>
            <ul class="fs-dtibtn clearfix build-order">
                <li>
                    <a class="fs-dti-oder detail-order-2017" href="@Url.Action("Add", "AddToCart",item)" title="">
                        <p>Add to cart</p>
                        <span>Giao tận nơi hoặc nhận ở shop</span>
                    </a>
                </li>
                <li>
                    <a class="fs-dti-tgop" href="@Url.Action("Index", "Home")" title="">
                        <p>Continue</p>
                        <span>Xét duyệt nhanh </span>
                    </a>
                </li>
            </ul>
            <p class="fs-dtinoti">Gọi <strong>1800-6601</strong> để được tư vấn (miễn phí cuộc gọi)</p>

        </div>
    }
    
    <!-- Button trigger modal -->
    <!-- Modal -->
    <div class="modal fade" id="dt-pop-dshop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="dt-pop-dmain">
                <div class="dt-pop-dtop">
                    <h2 class="dt-pop-dtit" style="display: none;">Danh sách shop còn hàng gần 
                        <span class="districtcurrent">quận 4</span>
                    </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="dt-pop-difo mCustomScrollbar _mCS_2 mCS_no_scrollbar">
                    <div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: 249px;" tabindex="0">
                        <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                            <ul class="dt-pop-diul" id="invpoplistshop"></ul>
                        </div>
                        <div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;">
                            <div class="mCSB_draggerContainer">
                                <div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; top: 0px;">
                                    <div class="mCSB_dragger_bar" style="line-height: 30px;">
                                    </div>
                                </div>
                                <div class="mCSB_draggerRail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dt-pop-fter"><a href="javascript:;" id="ordershorhere" class="dt-pop-fbtn">Đặt hàng tại shop này</a> </div>
            </div>
        </div>
    </div>
</div>

