@model HotelManagerReponsity_MVC.ViewModel.RoomBookingOfBookingViewModel
@{
    ViewBag.Title = "Myorder";
}

<h2>Myorder</h2>
<div>
    
        
        <!-- /.col-lg-12 -->
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
           
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" role="grid" aria-describedby="dataTables-example_info">
                        <thead>
                            <tr align="center" role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-sort="ascending" aria-label="ID: activate to sort column descending" style="width: 66px;">ID
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 142px;">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Price: activate to sort column ascending" style="width: 132px;">Price
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 141px;">Date form
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 114px;">Date to
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Delete: activate to sort column ascending" style="width: 113px;">Type
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Edit: activate to sort column ascending" style="width: 87px;">Delete
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                           
                            @foreach (var item in ViewBag.getRooms)
                            {
                                <tr class="gradeX odd" align="center" role="row">
                                    <td class="sorting_1">
                                        @item.RoomNumber
                                    </td>
                                    <td>@item.nameRoom</td>
                                    <td>@item.prince</td>
                                    
                                    <td></td>
                                    <td></td>
                                    <td>@item.room_Type_Description</td>
                                    <td class="center">
                                        <i class="fa fa-trash-o  fa-fw"></i>
                                        <a href="@Url.Action("Remove", "AddToCart", item)">Delete</a>
                                        
                                    </td>
                                    
                                </tr>                                

                                }
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="btn-order">
            </div>
            <ul class="fs-dtibtn clearfix build-order">
                <li>
                    <a class="fs-dti-oder detail-order-2017" href="#" title="">
                        <p>Save</p>
                        <span>Hotel uy tín</span>
                    </a>
                </li>
                <li>
                    <a class="fs-dti-tgop" href="@Url.Action("Index", "Home")" title="">
                        <p>Quay lại</p>
                        
                    </a>
                </li>
            </ul>
        </div>
    }
    <!-- /.row -->
</div>
